@{
    ViewBag.Title = "Home Page";
}

<div class="row g-3 justify-content-center">
    <div class="col-lg-3 col-md-6 col-11 text-center">
        <a class="rounded p-2 text-decoration-none d-block border border-primary shadow" href="/Cliente/Index" target="_blank">
            <img class="img-fluid" src="~/Content/Imagenes/clientes.png" width="64" height="64" />
            <h5 class="t-color1 mt-2">CLIENTES</h5>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-11 text-center">
        <a class="rounded p-2 text-decoration-none d-block border border-primary shadow" href="/Prestamo/Index" target="_blank">
            <img class="img-fluid" src="~/Content/Imagenes/prestamos.png" width="64" height="64" />
            <h5 class="t-color1 mt-2">PRESTAMOS</h5>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-11 text-center">
        <a class="rounded p-2 text-decoration-none d-block border border-primary shadow" href="/Catalogos/Index" target="_blank">
            <img class="img-fluid" src="~/Content/Imagenes/catalogos.png" width="64" height="64" />
            <h5 class="t-color1 mt-2">CATALOGOS</h5>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-11 text-center">
        <a class="rounded p-2 text-decoration-none d-block border border-primary shadow" href="/Reportes/Index" target="_blank">
            <img class="img-fluid" src="~/Content/Imagenes/reportes.png" width="64" height="64" />
            <h5 class="t-color1 mt-2">REPORTES</h5>
        </a>
    </div>
</div>