
@{
    ViewBag.Title = "Catalogos";
}

<div class="row">
    <div class="col-12">
        <h1 class="h4 rounded text-center bg-color3 text-white py-1 text-uppercase">Catalogos</h1>
    </div>
</div>
<div class="row g-3 mt-3 justify-content-center">
    <div class="col-lg-4 text-center">
        <a href="/Catalogos/Direccion" class="text-white text-decoration-none ficha bg-color2 py-2 rounded shadow d-block"><h4>Direcciones</h4></a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="/Catalogos/TipoIdentificacion" class="text-white text-decoration-none ficha bg-color2 py-2 rounded shadow d-block"><h4>Tipos de Identificación</h4></a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="/Catalogos/TipoPrestamo" class="text-white text-decoration-none ficha bg-color2 py-2 rounded shadow d-block"><h4>Tipos de Prestamos</h4></a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="/Catalogos/Moneda" class="text-white text-decoration-none ficha bg-color2 py-2 rounded shadow d-block"><h4>Monedas</h4></a>
    </div>
</div>

